@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    vertical-align: middle;
    display: flex;
    font-family: 'Calibri', sans-serif !important;
    background-size: cover; /* Adatta l'immagine all'intera pagina */
    background-repeat: repeat; /* Evita che l'immagine si ripeta */
}


.carrello{
   background: rgba(255, 255, 255, 0.6);
    line-height: 1;
    position: relative;
    width: 80rem;
    height: max-content;
    display: flex;
    flex-direction: row;
    padding: 6rem 0;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.shopper{
    position: absolute;
    top: 0;
    left: 0;
}

.prodotto{
    width: 12rem;
}

.prod-info
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.prezzo-prod{
    border: 2px solid rgba(252, 155, 25, 1); /* Bordo arancione */
    border-radius: 25px; /* Rende il bordo ovale */
    padding: 10px; /* Aggiunge spazio interno per un aspetto migliore */
    width: 80%; /* Imposta una larghezza desiderata per il campo di input */
    box-sizing: border-box; /* Garantisce che padding e bordo non aumentino la dimensione totale dell'input */
    background: rgba(252, 155, 25, 0.6);
    font-size: 20px;
    text-align: center;
}

.nome-prod{
    font-size: 30px;
}
